* {
    box-sizing: border-box;
}

body
{
	margin: 0;
	padding: 0;
	font-family: 'trebuchet ms';
	font-size: 100%;
	color: #000;
	background: #01040B;
}

.container
{
	width: 100%;
	max-width: 1000px;
	background: #fff;
	margin: 0 auto;
}

header
{
	background-image: url(img/header.jpg);
	background-size: contain;
	width: 100%;
	padding-bottom: 27.5%;
}

.title
{
	background-color: #1D3F7D;
	width: 100%;
	height: 45px;
	line-height: 40px;
	color: white;
	text-align: center;
	font-weight: 700;
	border-bottom: 5px solid #112649;
}

footer 
{
	background-color: #1D3F7D;
	width: 100%;
	height: 60px;
	line-height: 50px;
	color: white;
	text-align: center;
	font-weight: 700;
	border-top: 5px solid #112649;
	border-bottom: 5px solid #112649;
	clear: both;
}

footer a { color: #fff; } 

.col-1 
{ 
	width: 60%;
	display: inline-block;
	float: left;
	padding: 1%;
}

.col-2 
{ 
	width: 40%;
	background-color: #eee;
	display: inline-block;
	padding: 2%;
	font-size: 90%;
	text-align: justify;
	line-height: 130%;
}

h3 { margin: 1%; }

.group_container
{
	display: inline-block; 
	width: 50%; 
	float: left; 
	text-align: center;
}

#group { 
	width: 95%; 
	margin: 0 auto; 
	margin-bottom: 10%;
	border-collapse: collapse; 
	text-align: center;
	border: 1px solid #aaa;
}

#group th, td 
{ 
	padding: 10px 0px; 
	border-bottom: 1px solid #aaa;
}

#group th 
{ 
	color: #fff; 
	background: #1D3F7D; 
	font-weight: 600; 
}

.bowl {
	margin: 0 auto;
	margin-bottom: 15px;
	border: 2px solid #000;
	border-top: 0;
	border-bottom-left-radius: 40px 40px;
	border-bottom-right-radius: 40px 40px;
	text-align: center;
	padding: 10px 0px;
}

.bowl p { margin: 2px 0px 5px 0px; font-weight: 600; }

.bowl img { width: 60px; }

.bowl button
{
	border: 0;
	padding: 0;
	cursor: grab;
	background-color: #fff;
	padding: 2px;
}

.bowl button:hover
{
	background-color: #cfe3fe;
}

.reset {
	  background-color: #9c0909;
	  border: 1px solid #000;
	  margin: 0 auto;
	  padding: 3% 7%;
	  text-align: center;
	  text-decoration: none;
	  display: block;
	  font-size: 100%;
	  font-weight: 600;
	  cursor: pointer;
	  clear: both;
}

.reset:hover { background-color: #650909; color: #fff; } 

#drawn 
{
	text-align: center;
	font-size: 110%;
	font-weight: 600;
	color: #9c0909;
}

.available
{
	padding: 2px 7px; 
	background:#75D0F3; 
	margin: 0 2px; 
	border-radius: 6px;	
}


@media only screen and (max-width: 768px) {
  .col-1 { width: 100%; }
  .col-2 { width: 100%; }
  
  #group { font-size: 80%; }
  
  footer { font-size: 80%; } 
}